<h3>Department Details</h3>
<hr/>
<div style="border:2px solid Blue; width: 260px; border-radius: 10px; padding: 10px;">
    Deptno  :  <%=deptObj.deptno%>   <br/>
    Dname  :  <%=deptObj.dname%>   <br/>
    Loc  :  <%=deptObj.loc%>   <br/>
</div>
<hr/>